.controlPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
select {
  background-color: lightblue;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

@media print {
  .controlPanel {
    display: none;
  }
}
