h1 {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.code {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
