* {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  zoom: 100%;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-map,
.totals {
  border-collapse: collapse;
  margin-top: 20px;
}

.seat,
.cell {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}
.label {
  width: 40px;
  padding: 2px;
}

.long {
  width: 60px;
}

.seat.emergency,
.final_total {
  background-color: lightblue;
}

.empty {
  visibility: hidden;
}

.gap {
  height: 20px;
  width: 20px;
}

.row-number {
  width: 20px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.column-label {
  width: 40px;
  text-align: center;
  font-weight: bold;
}
.seat-map .seat {
  position: relative;
}
.seat-map .seat.child::after,
.seat-map .seat.infant::after {
  color: red;
  font-size: 0.75rem;
  position: absolute;
  top: -4px;
  right: 4px;
}
.seat-map .seat.infant::after {
  content: "I";
}
.seat-map .seat.child::after {
  content: "C";
}

.crossed {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crossed::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\D7";
  font-size: 30px;
  font-weight: 300;
  color: black;
  width: 100%;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
button {
  background-color: lightblue;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

@page {
  margin: 10mm;
  size: a4 portrait;
}

@media print {
  button {
    display: none;
  }
}
